 body{
    font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
    color: #404040;
    background: black;
  }

  .flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
  }
 
  input, textarea, select, label {
    font-family: inherit;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .login {
    margin: 20px auto;
    padding: 18px 20px;
    width: 200px;
    background: #3f65b7;
    background-clip: padding-box;
    border: 1px solid #172b4e;
    border-bottom-color: #142647;
    border-radius: 5px;
    background-image: -webkit-radial-gradient(cover, gray, darkgray);
    background-image: -moz-radial-gradient(cover, gray, darkgray);
    background-image: -o-radial-gradient(cover, gray, darkgray);
    background-image: radial-gradient(cover, gray, darkgray);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .login > h1 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px white;
  }
  
  .login-input {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 20px;
    padding: 0 9px;
    color: white;
    text-shadow: 0 1px black;
    background: #2b3e5d;
    border: 1px solid #15243b;
    border-top-color: #0d1827;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  }
  
  .login-input:focus {
    outline: 0;
    background-color: #32486d;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
  }
  
  .lt-ie9 .login-input { line-height: 35px; }

  .login-submit {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #adcbfa;
    background-clip: padding-box;
    border: 1px solid #284473;
    border-bottom-color: #223b66;
    border-radius: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, black, black);
    background-image: -moz-linear-gradient(top, black, black);
    background-image: -o-linear-gradient(top, black, black);
}

/*Home Page*/
#home-page{
  background-image: url("https://cdn12.picryl.com/photo/2016/12/31/graffiti-background-grunge-backgrounds-textures-047a21-1024.jpg");
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}

#profile-pic{
  margin-top: 20px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 100px;
  width: 90px;
}

#profile-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#home-page-create-gang-button{
  background: #FFFF33;
  border-radius: 20px;

}

#user-gang-button{
  background: black;
  border-radius: 20px;
}

#public-group-button{
  background: black;
  border-radius: 20px;
}

/*Home Page Create Gang Modal*/

#create-gang-modal-header, #create-gang-modal-label, #create-gang-modal-footer{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#create-gang-modal-body{
  background-color: black;
  color: white;
  font-family: 'Rock Salt', cursive;
}

#create-gang-modal-button, #create-gang-modal-button{
  background: white;
  color:black;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#create-gang-modal-button{
  background: yellow;
  color:black;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}


/*Home Page Public Gang Modal*/

#public-gang-modal-header, #public-gang-modal-label, #public-gang-modal-footer{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#public-gang-modal-body{
  background-color: black;
}

#public-gang-modal-friend-button, #public-gang-modal-save-button{
  background: white;
  color:black;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#public-gang-modal-close-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

/*End Of Home Page*/

/*Edit Gang Page*/
#create-gang-page{
  background-image: url("https://jennyleonard.files.wordpress.com/2012/06/pb153069.jpg");
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}

#gang-name{
  font-family: 'Permanent Marker', cursive;
  color:rgb(89, 29, 181);
  font-size: 80px; 
  text-shadow: 2px 2px 8px black;
}

#gang-owner-name{
  font-family: 'Permanent Marker', cursive;
  color: rgb(192,192,192);
  font-size: 60px; 
  text-shadow: 2px 2px 8px  black;
}

.card-body{
  background: #FFFF33;  
  color: black;
  font-family: 'Rock Salt', cursive;
}

.card-header{
    background: black;
    color:#FFFF33;
    text-align: center;
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
}

#edit-gang-button, #add-friend-button{
  color:white; 
  border-radius: 20px;
}

#friends{
    color:black;
}

#search-bar{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

#save-button{
  margin-top: 20px;
  margin-right: 10px;
  background: #FFFF33; 
  position: absolute;
  bottom: 100;
  right: 0;
  width: 100px;
  border-radius: 20px;
}

#logout-button{
  margin-top: 20px;
  margin-left: 10px;
  background: #FFFF33; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  border-radius: 20px;
}
/*Edit Gang Modal*/

#edit-gang-modal-header, #edit-gang-modal-label, #edit-gang-modal-footer{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-modal-body{
  background-color: black;
}

#edit-gang-modal-friend-button, #edit-gang-modal-save-button{
  background: white;
  color:black;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-modal-close-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

/*Remove Friends*/

#edit-gang-remove-friend-modal-header{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-remove-friend-modal-label{
  background-color: #FFFF33;
}
#edit-gang-remove-friend-modal-body{
  background-color: black;
  font-family: 'Rock Salt', cursive;
  color:white;
}

#edit-gang-remove-friend-modal-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-remove-friend-modal-dismiss-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-remove-friend-modal-footer{
  background-color: #FFFF33;
}

/*Add Friends Modal*/

#edit-gang-add-friend-modal-header{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-add-friend-modal-label{
  background-color: #FFFF33;
}
#edit-gang-add-friend-modal-body{
  background-color: black;
  font-family: 'Rock Salt', cursive;
  color:white;
}

#edit-gang-add-friend-modal-close-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-add-friend-modal-add-button{
  background: black;
  color: white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-add-friend-modal-footer{
  background-color: #FFFF33;
}
/*End Of Edit Gang Page*/
