/*Login CSS*/
#login-body { 
  background:  url(https://media3.giphy.com/avatars/imightbeamy/2sur51JHcyN4.gif) no-repeat center center fixed; 
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.flex-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

input, textarea, select, label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Rock Salt', cursive;
  font-size: 16px;
}

.login {
  margin: 20px auto;
  padding: 18px 20px;
  width: 400px;
  background: black;
  background-clip: padding-box;
  border: 1px solid white;
  border-bottom-color: white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
  font-size: 16px;
}

.login > h1 {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  color: white;
  font-size: 16px;
  position:relative;
  width:100%;
}
  
.login-input, .login-input:focus {
  display: block;
  width: 100%;
  height: 37px;
  margin-bottom: 20px;
  padding: 0 9px;
  border-radius: 4px;
  background: #ffff33;
  font-size: 16px;
}

#login-button{
  background-color: #ffff33; 
  font-size: 16px;
}

#signup-button{
  background-color: lightblue; 
  font-size: 16px;
}

.lt-ie9 .login-input { 
  line-height: 35px;
}
/*End Of Login CSS*/

/*Home Page*/
#home-page{
  background-image: url("https://cdn12.picryl.com/photo/2016/12/31/graffiti-background-grunge-backgrounds-textures-047a21-1024.jpg");
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}

#profile-pic{
  margin-top: 20px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 100px;
  width: 90px;
}

#profile-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#home-page-create-gang-button{
  background: #FFFF33;
  border-radius: 20px;

}

#user-gang-button{
  background: black;
  border-radius: 20px;
}

#public-group-button{
  background: black;
  border-radius: 20px;
}

/*Home Page Create Gang Modal*/

#create-gang-modal-header, #create-gang-modal-label, #create-gang-modal-footer{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#create-gang-modal-body{
  background-color: black;
  color: white;
  font-family: 'Rock Salt', cursive;
}

#create-gang-modal-button, #create-gang-modal-button{
  background: white;
  color:black;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#create-gang-modal-button{
  background: yellow;
  color:black;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

/*Home Page Public Gang Modal*/
#public-gang-modal-header, #public-gang-modal-label, #public-gang-modal-footer{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#public-gang-modal-body{
  background-color: black;
}

#public-gang-modal-friend-button, #public-gang-modal-save-button{
  background: white;
  color:black;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#public-gang-modal-close-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}
/*End Of Home Page*/

/*Edit Gang Page*/
#create-gang-page{
  background-image: url("https://jennyleonard.files.wordpress.com/2012/06/pb153069.jpg");
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}

#gang-name{
  font-family: 'Permanent Marker', cursive;
  color:rgb(89, 29, 181);
  font-size: 80px; 
  text-shadow: 2px 2px 8px black;
}

#gang-owner-name{
  font-family: 'Permanent Marker', cursive;
  color: rgb(192,192,192);
  font-size: 60px; 
  text-shadow: 2px 2px 8px  black;
}

.card-body{
  background: #FFFF33;  
  color: black;
  font-family: 'Rock Salt', cursive;
}

.card-header{
    background: black;
    color:#FFFF33;
    text-align: center;
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
}

#edit-gang-button, #add-friend-button{
  color:white; 
  border-radius: 20px;
}

#friends{
    color:black;
}

#search-bar{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

#save-button{
  margin-top: 20px;
  margin-right: 10px;
  background: #FFFF33; 
  position: absolute;
  bottom: 100;
  right: 0;
  width: 100px;
  border-radius: 20px;
}

#logout-button{
  margin-top: 20px;
  margin-left: 10px;
  background: #FFFF33; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  border-radius: 20px;
}
/*Edit Gang Modal*/

#edit-gang-modal-header, #edit-gang-modal-label, #edit-gang-modal-footer{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-modal-body{
  background-color: black;
}

#edit-gang-modal-friend-button, #edit-gang-modal-save-button{
  background: white;
  color:black;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-modal-close-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

/*Remove Friends Modal*/
#edit-gang-remove-friend-modal-header{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-remove-friend-modal-label{
  background-color: #FFFF33;
}
#edit-gang-remove-friend-modal-body{
  background-color: black;
  font-family: 'Rock Salt', cursive;
  color:white;
}

#edit-gang-remove-friend-modal-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-remove-friend-modal-dismiss-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-remove-friend-modal-footer{
  background-color: #FFFF33;
}

/*Add Friends Modal*/
#edit-gang-add-friend-modal-header{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-add-friend-modal-label{
  background-color: #FFFF33;
}
#edit-gang-add-friend-modal-body{
  background-color: black;
  font-family: 'Rock Salt', cursive;
  color:white;
}

#edit-gang-add-friend-modal-close-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-add-friend-modal-add-button{
  background: black;
  color: white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#edit-gang-add-friend-modal-footer{
  background-color: #FFFF33;
}
/*End Of Edit Gang Page*/

/*Create Event Page CSS*/

#create-event-page{
  background-image: url("https://static1.squarespace.com/static/59a9990c9f745612b2e71cdb/59aa0757f7e0ab8bf93c253b/59ad7689c534a5dcf22c38b7/1504540315481/Blue%2C+Tan%2C+Yellow+Graffiti+071214.jpg?format=1500w");
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
padding-bottom: 25px;
width: 100%;
background: black;
}

.month ul {
margin: 0;
padding: 0;
}

.month ul li {
color: #ffff33;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 3px;
}

.month .prev {
float: left;
padding-top: 10px;
}

.month .next {
float: right;
padding-top: 10px;
}

#calendar-year{
  padding-bottom: 25px;
  padding-top: 25px;
}

.weekdays {
margin: 0;
padding: 10px 0;
background-color: black;
}

.weekdays li {
display: inline-block;
width: 13.6%;
color: #ffff33;
}

.days {
padding: 10px 0;
background: black;
margin: 0;
}

.days li {
list-style-type: none;
display: inline-block;
width: 13.6%;
margin-bottom: 5px;
font-size:12px;
color: #ffff33;
}

.days li .active {
padding: 5px;
background: red;
color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
.weekdays li, .days li {width: 13.1%;}
}
@media screen and (max-width: 420px) {
.weekdays li, .days li {width: 12.5%;}
.days li .active {padding: 2px;}
}
@media screen and (max-width: 290px) {
.weekdays li, .days li {width: 12.2%;}
}

#suggestion-header{
  color:white;
}

#card-header {
  position: relative;
  left: 50px;
  text-align: left;
  color:white;
  font-size: 20px;
}

/*Create Event Modal*/

#create-event-modal-header{
  background-color: #FFFF33;
  font-family: 'Rock Salt', cursive;
}

#create-event-modal-label{
  background-color: #FFFF33;
}
#create-event-modal-body{
  background-color: black;
  font-family: 'Rock Salt', cursive;
  color:white;
}

#create-event-modal-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#create-event-modal-button{
  background: black;
  color:white;
  border-radius: 20px;
  font-family: 'Rock Salt', cursive;
}

#create-event-modal-footer{
  background-color: #FFFF33;
}

/*End Of Create Event CSS*/

/*Profile Page CSS*/
#profile-page-container{
  background-image: url("https://beatnomad.files.wordpress.com/2013/12/dsc_1401.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}